@import "mixins";

:host {
    display: flex;
    flex-direction: column;
    padding: $padding;
    margin-bottom: $padding;

    .row  {
        @include actionButton();

        > * {
            margin-left: $padding;
        }

        :first-child {
            margin-left: 0;
        }
    }

    .name {
        pointer-events: none;
    }
}
