@import '../../../../styles/variables';

:host {
    align-items: center;
    border: 1px solid $primary-color;
    border-radius: 5px;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    line-height: 20px;
    margin: 5px;
    padding: 5px;
    width: 100%;

    .title {
        display: flex;
        align-items: center;
        line-height: 40px;

        .department {
            margin-left: $margin;
            pointer-events: none;
        }
    }

    .content {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-top: $margin;

        .avatar {
            margin-right: $margin;
        }
    }

}
