<mat-expansion-panel expanded>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <ng-content></ng-content>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list dense>
        <mat-list-item >
            <span>Port:</span>
            <span class="flex-spacer"></span>
            <b>{{app.appPort}}</b>
        </mat-list-item>
        <mat-list-item>
            <span>netscalerIP:</span>
            <span class="flex-spacer"></span>
            <b>{{app.netscalerIP}}</b>
        </mat-list-item>
        <mat-list-item>
            <span>netscalerURL:</span>
            <span class="flex-spacer"></span>
            <b>{{app.netscalerURL}}</b>
        </mat-list-item>
        <mat-list-item>
            <span>description:</span>
            <span class="flex-spacer"></span>
            <b>{{app.description}}</b>
        </mat-list-item>
    </mat-list>
</mat-expansion-panel>
