<h2 mat-dialog-title>
    <div class="flex-spacer"></div>
    <button mat-icon-button mat-dialog-close>
        <mat-icon aria-label="Close modal with choice">close</mat-icon>
    </button>
</h2>
<ng-container *ngIf="{
    url: choiceURL$ | async
} as vm">
    <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="!vm.url; else frame"></mat-progress-spinner>
    <ng-template #frame>
        <iframe #choice frameborder="0" width="100%" height="800px" [src]="vm.url | safe: 'resourceUrl'"></iframe>
    </ng-template>
</ng-container>


