<h2 mat-dialog-title class="row">
    {{label}}
    <div class="flex-spacer"></div>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</h2>
<mat-dialog-content [formGroup]="form">
    <div class="column">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name" required>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="primary" (click)="update()" [disabled]="form.invalid">OK</button>
</mat-dialog-actions>
